<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" asp-href-include="/lib/bootstrap/css/bootstrap.min.css" />
    <style>
        .input-validation-error { border-color: red; background-color: #fee ; }
    </style>
    <title>@ViewBag.Title</title>
</head>
<body class="m-1 p-1">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="col navbar-brand" href="/Admin">The Bookie Joint |</a>
            </div>
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle navbar-brand" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <small>@ViewBag.Title</small>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" asp-action="Index" asp-controller="Admin">All Products</a>
                        <a class="dropdown-item" asp-action="List" asp-controller="Order" >Orders</a>
                    </div>
                </li>
            </ul>
            <div class="collapse navbar-collapse">
                <div class="col text-right">
                    <a class="btn btn-sm btn-primary" asp-action="Logout" asp-controller="Account">Log Out</a>
                </div>        
            </div>
        </div>
    </nav>
    <div class="row m-1 p-1">
        <div class="col-9">
            @if (TempData["message"] != null) {
                <div class="alert alert-success">@TempData["message"]</div> 
            }
            @RenderBody()
        </div>
    </div>

    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
</body>
</html>
